<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <div class="col-xs-6">
                <p>Denver, CO</p>
            </div>
            <div class="col-xs-6">
                <h1>{{weatherData.temp | number:'.0-0' | degree}}</h1>
            </div>
        </div>
        <div class="card-block text-center">
                <canvas id="icon"></canvas>
                <p>{{weatherData.summary}}</p>
        </div>
        <div class="card-footer">
            <div class="col-xs-6">
                <p>Wind</p>
                <p>{{weatherData.wind | speedUnit: currentSpeedUnit }}</p>
            </div>
            <div class="col-xs-6">
                <p>Humidity</p>
                <p>{{weatherData.humidity | percent}}</p>
            </div>
        </div>
    </div>
</div>