<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <div class="col-xs-6">
                <p>Denver, CO</p>
            </div>
            <div class="col-xs-6">
                <h1>88&deg;</h1>
            </div>
        </div>
        <div class="card-block text-center">
                <h4>image will go here</h4>
                <p>Sunny</p>
        </div>
        <div class="card-footer">
            <div class="col-xs-6">
                <p>Wind</p>
                <p>15mpd</p>
            </div>
            <div class="col-xs-6">
                <p>Humidity</p>
                <p>80%</p>
            </div>
        </div>
    </div>
</div>